<HTML>
  <head>
      {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" media="(min-width:768px)" href="{% static 'users/css/profile.css' %}" />
  <link rel="stylesheet" media="(min-width:768px)" href="{% static 'users/css/auth.css' %}" />
  <link rel="stylesheet" media="(max-width:767px)" href="{% static 'users/css/profile-small.css' %}" />
  <link rel="stylesheet" media="(max-width:767px)" href="{% static 'users/css/auth-small.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<title> {{title}} </title>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="icon"  href="{% static 'Main/images/test.png' %}" >
  <link rel="stylesheet" media="(max-width:767px)" href="{% static 'blog/css/site_small.css' %}" />
  <link rel="stylesheet" media="(min-width:768px)" href="{% static 'blog/css/site_large.css' %}" />
  <link rel="stylesheet" media="(min-width:768px)" href="{% static 'blog/css/posts_large.css' %}" />
  <link rel="stylesheet" media="(max-width:768px)" href="{% static 'blog/css/posts_small.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto|Sail&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: black;">
      <div class="table" id='NavBar'>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <ul>
              <li><a class="header-link" href="{% url 'posts' %}">Посты</a></li>
              <li><a href="{% url 'about' %}">О нас</a> </li>
          </ul>
          </div>
      <header class="mobile-div-header" id="div-mob">
          <span class="open-span" onclick="myFunction()">&#9776;</span>
          <a class="main-link" href="{% url 'home' %}"><img src="{% static 'blog/images/icon.png' %}"></a>
          {% if user.is_authenticated %}
          <a class="profile-link-img" href="{% url 'profile' %}"><img src="{% static 'blog/images/profile.png' %}"></a>
          {% else %}
          <a class="profile-link-img" href="{% url 'login' %}"><img src="{% static 'blog/images/profile.png' %}"></a>
          {% endif %}
      </header>
      <div class="content">
      <header>
          <ul>
              <li class="main-link-li"><a class="main-link" href="{%  url 'home' %}"><img src="{% static 'blog/images/icon.png' %}"></a></li>
              <li><a class="header-link" href="{% url 'posts' %}">Посты</a></li>
              <li><a href="{% url 'about' %}">О нас</a> </li>
              {% if user.is_authenticated %}
  
              <li class="li-right"><a href="{% url 'logout' %}">Выйти</a></li>
                  <li class="li-right"><a href="{% url 'profile' %}">{{user.username}}</a></li>
                  <li class="li-right"><a href="{% url 'post-create' %}">Создать пост</a></li>
                  {% else %}
                  <li class="li-right"><a href="{% url 'login' %}">Вход</a></li class="right-li">
              {% endif %}
          </ul>
      
      </header>
      
      {% block content %}{% endblock %}
      </div>
      <div class="bottom-div">
          <div class="info-bottom">
              Artemus
              </div>
          
      </div>
      <script>
          function myFunction() {
              var x = document.getElementById("NavBar");
              if (x.style.width == "100%") {
                  x.style.width = "0px";
              } else {
              x.style.width = "100%";
              }
          }
      </script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
</HTML>