{%extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="div-download">
    <img class="rotate-img1" src="{% static 'blog/images/krug.png' %}">
    <img class="rotate-img2" src="{% static 'blog/images/vy.png' %}">
    <img class="rotate-img3" src="{% static 'blog/images/kvdrat.png' %}">
    <img class="icon-img-download" data-aos="fade-up" data-aos-duration="2000" src="{% static 'blog/images/icon.png' %}">
    <h1 data-aos="fade-up" data-aos-duration="2000">Присоединяйся</h1>
    <h1 data-aos="fade-up" data-aos-duration="2000">Проект, где ты можешь создавать посты, который могут увидеть другие</h1>
</div>

{% endblock %}