
.border-bottom.mb-4{
    font-size: xx-large;
    text-align: center;
}

.asteriskField {
    display: none;
}

.content-section, .logout-section, .register-section{
    padding: 1px;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.form-group{
    border:none;
}

input[type=text],input[type=password], input[type=email] {
    width: 100%;
    color:black;
    border-color: black;
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
    font-size: large;
  }

  input[type=text]:focus,input[type=password]:focus, input[type=email]:focus {
    border-color: black;
    box-shadow: 5px 5px 35px black;
  }

.btn.btn-outline-info{
    cursor: pointer;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
    color: white;
    border-radius: 50px;
    height: 50px;
    margin-top: 30px;
    text-decoration: none;
    background-color: #222; 
    transition: 0.5s ease-in-out;
}

.btn.btn-outline-info:hover{
    background-color: black;
    color: white;
}

.btn.btn-outline-info:active{
   transform: scale(0.95);
}

.text-muted.ml-2 a{
    margin-top: 5px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.text-muted.ml-2 a:hover{
    transition: 0.5s;
    color: darkgray;
}

.text-muted.ml-2 a:visited{
    color:black;
}

.border-top.pt-3{
    margin-top: 30px;
    font-size: 20px;
}

.border-top.pt-3 a{
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.border-top.pt-3 a:hover{
    transition: 0.5s;
    color: darkgray;
}

.border-top.pt-3 a:visited{
    color: black;
}

.ml-2{
    color: black;
    text-decoration: none;
}

.ml-2:hover{
    transition: 0.5s;
    color: darkgray;
}

textarea{
    width: 100%;
    max-width: 100%;
    resize: vertical;
    display:block;
}

.alert.alert-block.alert-error{
    color: white;
    width: 100%;
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 30px;

    display: table;
}

.control-label.requiredField{
    font-size: large;
    font-weight: bold;
}

.control-group{
    margin-top: 30px;
}